<h2>about me</h2>
<p>I studied at <a href="http://www.lawrence.edu">Lawrence University</a>.</p>
<p>I work at <a href="http://www.fiveq.com">Five Q</a></p>
<p>I worked at <a href="http://www.penobscotbaypress.com">Penobscot Bay Press</a></p>
<p>I was born in <a href="http://www.chicago.com">Chicago</a></p>
<p>I am a <a href="http://www.timberwyckfarm.com">farmer</a></p>
