@import "base";
@import "coderay-github";
//@import "coderay-twilight";

#site-head {
  background-image: url('/images/header_bg.jpg');
}

.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;
  a[rel=reference] { text-decoration: none; }
  p { margin-bottom: 6px; }
}
