{% if index %}
	{% if is_first_post %}
		{% assign is_first_post = false %}
	{% endif %}
	<header class="post-header">
		<span class="post-meta">{{ post.date | date: "%d %b %Y" }}</span>
		<h2 class="post-title">
			{% if post.external-url %}
			<a href="{{ post.external-url }}">
			{% else %}
			<a href="{{ root_url }}{{ post.url }}">
			{% endif %}
				{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
		</h2>
	</header>
	<section class="post-excerpt">
		{{ content | excerpt }}
        <br/>
        <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
	</section>
{% else %}
	<header class="post-header">
		<a id="blog-logo" href="{{ site.root }}">{{ site.title }}</a>
	</header>
	<span class="post-meta">{{ page.date | date: "%d %b %Y" }}</span>
	<h1 class="post-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>

	<section class="post-content">
		{{ content }}
	</section>
{% endif %}